{% extends 'form_div_layout.html.twig' %}

{% block largefile_widget %}
    
    {% stylesheets 
        '@WebridgeLargeFileBundle/Resources/public/css/largefile.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% spaceless %}

    <span class="file-input btn btn-block panel-heading-highlighted btn-file">
        {{ label }}

        {{ form_widget(
                form,
                {'attr': {
                    'class': (form.vars.attr is empty)?'largefile':form.vars.attr.class ~ ' largefile',
                    'data-largefile-field': view_id_prefix ~ largefile_field,
                    'data-largefile-field-original': view_id_prefix ~ largefile_field_original,
                    'data-mimeTypesMessage': mimeTypesMessage,
                    'data-maxSizeMessage': maxSizeMessage,
                    'data-url': oneup_uploader_endpoint(largefile_media),
                    'data-previewcontainer': previewContainerId
                }}
           ) 
        }}
        {{ form_widget(
                attribute(form.parent, largefile_field),
                {
                    'id': view_id_prefix ~ largefile_field
                }
           ) 
        }}
        {{ form_widget(
                attribute(form.parent, largefile_field_original),
                {
                    'id': view_id_prefix ~ largefile_field_original
                }
           ) 
        }}
    </span>

    {% endspaceless %}

    <div class="error largefile-error">
        <ul>
            <li id="{{view_id_prefix ~ largefile_field}}_error">
            </li>
        </ul>
    </div>

    <div id="{{view_id_prefix ~ largefile_field}}_progress" class="largefile_progress progress">
        <span class="bar progress-bar"></span>
    </div>

{% endblock %}